In [1]:
import math

# Get the radius from the user
radius = float(input("Enter the radius: "))

# Calculate the area of the circle
area = math.pi * (radius ** 2)

# Print the result
print(f"Area of Circle is {area}")

Enter the radius: 2
Area of Circle is 12.566370614359172

In [2]:
# Get details from the user
name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")

# Display the details
print(f"Name: {name}")
print(f"Roll No: {roll_number}")
print(f"Mark: {mark}")

Enter the name: ABC
Enter the roll number: 2
Enter the mark: 85
Name: ABC
Roll No: 2
Mark: 85

In [3]:
# Get a list of numbers from the user
numbers = input("Enter numbers separated by commas: ").split(',')

# Convert the input strings to integers
numbers = [int(num) for num in numbers]

# Find the largest number
largest_number = max(numbers)

# Display the result
print(f"{largest_number} is the largest number.")

Enter numbers separated by commas: 2,3,4
4 is the largest number.

In [4]:
# Iterate through the range of the first 10 numbers
for current_number in range(1, 11):
    # Calculate the previous number
    previous_number = current_number - 1

    # Print the result
    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {current_number + previous_number}")

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [5]:
# Get a list of numbers from the user
numbers = input("Enter numbers separated by commas: ").split(',')

# Convert the input strings to integers
numbers = [int(num) for num in numbers]

# Filter and print numbers divisible by 5
result = [num for num in numbers if num % 5 == 0]
print(", ".join(map(str, result)))

Enter numbers separated by commas: 5,6,7,8,9
5

In [6]:
# Get the number from the user
number = int(input("Enter the number: "))

# Check if the number is prime
is_prime = True
if number < 2:
    is_prime = False
else:
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            is_prime = False
            break

# Display the result
if is_prime:
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter the number: 5
5 is a prime number.

In [7]:
# Get a list of numbers from the user
numbers = input("Enter numbers separated by commas: ").split(',')

# Convert the input strings to integers
numbers = [int(num) for num in numbers]

# Reverse the list using a for loop
reversed_list = []
for i in range(len(numbers) - 1, -1, -1):
    reversed_list.append(numbers[i])

# Display the reversed list
print(", ".join(map(str, reversed_list)))

Enter numbers separated by commas: 1,2,3,4
4, 3, 2, 1

In [8]:
# Set the number of rows
rows = 4

# Nested loop to print the pattern
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end="")
    print()

*
**
***
****

In [9]:
# Get three numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Find the maximum of the three numbers
max_number = max(num1, num2, num3)

# Display the result
print(f"The maximum of {num1}, {num2}, and {num3} is: {max_number}")

Enter the first number: 2
Enter the second number: 3
Enter the third number: 4
The maximum of 2.0, 3.0, and 4.0 is: 4.0

In [10]:
# Set the number of rows
rows = 5

# Upper part of the pattern
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end="")
    print()

# Lower part of the pattern
for i in range(rows - 1, 0, -1):
    for j in range(1, i + 1):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*